@import url(https://fonts.googleapis.com/css?family=Bitter:400,700|Lato:300|Inconsolata);


// font variables
$font-stack: tahoma, helvetica, sans-serif; 
$font-heading: 'Bitter', serif;
$font-copy: 'Lato', sans-serif;
$font-links: 'Inconsolata', monospace;

//color variables
$bg-color: rgba(62, 112, 161, 0.9);
$font-color: rgba(255, 255, 255, .9);